*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.banner{
    position: relative;
    background: #3475ca;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}
.banner .content {
    position: relative;
    max-width: 750px;
    text-align: center;
}
.banner .content h1{
    color: white;
    font-size: 3.75em;
    
}
.banner .content p{
    color: white;
    font-size: 1em;
}
.banner header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.banner header .logo{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 1px;
}
.banner header .toogle{
    
    width: 36px;
    height: 28px;
    background: url(/images/toggle.png);
    background-size: cover;
    cursor: pointer;
    position: relative;
}
/* About Section */

.about{
    display: flex;
    width: 100%;
    height: 100vh;
    /* background-color: #0d1920; */
}
.about .content{
    padding: 100px;
    background-color: #162c3b;
    color: white;
    width: 50%;
    height: 100vh;
}
.about .window{
    background: url(./images/window.jpg);
    height: 100vh;
    width: 50%;
    background-size: cover;
    background-position: center;
    
}
.about .content p{
    padding-bottom: 2em;
}
.about .content h1{
    padding-bottom: 1em;
    letter-spacing: 1px;
}

/* Services-section */

.service{
    width: 100%;
    padding: 6.25em;
    background: #12222d;
    
}
.service header{
    color: white;
    text-align: center;
    /* padding: 3.75em; */
}
.service header p{
    /* padding: 1.75em; */
    width: 75%;
    margin: auto;
}
.service header h1{
    padding: 0.5em;
    letter-spacing: 1px;
}
.service .image-content{
    width: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.75em;
}
.service .image-content .service-design img{
    max-width: 6.25em;
}
.service .image-content .service-design{
    background-color: white;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.service .image-content .service-design h2{
    font-size: 1.25em;
    padding-top: 0.5em;
    letter-spacing: 1px;
    font-weight: 500;
}
/* Technology */

.technology{
    padding: 5em;
    display: flex;
    background: #3f8ffc;
    justify-content: space-between;
    align-items: center;
    padding-top: 300px;
    margin-top: -300px;
    width: 100%;
}
.technology .content{
    color: white;
    max-width: 50em;
}
.technology .content h1{
    letter-spacing: 1px;
    padding-bottom: 0.5em;
}
.technology .content p{
    font-weight: 500;
}
.technology .image{
    max-width: 250px;
}
.technology .image img{
     max-width: 100%;
}

/* Client */
.client{
    background: #162c3b;
    padding: 6.25em;
}
.client .header{
    text-align: center;
    color: white;
}
.client .header p{
    padding: 1em 5em;
    font-weight: 500;
}
.client .header h1{
    letter-spacing: 1px;
}
.client .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4em 5em;
    flex-wrap: wrap;
}
.client .container img{
    max-width: 200px;
    opacity: 0.25;
}
.client .container img:hover{
    opacity: 1;
    cursor: pointer;
}

/* #12222d */
/* Testimonials */

.testimonial{
    background: #12222d;
    padding: 6.25em;
    width: 100%;
   
}
.testimonial .heading{
    color: white;
    text-align: center;
    padding-bottom: 2em;
    letter-spacing: 1px;
    font-weight: 700;
}
.testimonial .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.testimonial .container .content{
    padding: 1em;  
}
.testimonial .container .content .border{
    background-color: white;
    padding: 4em;
}
.testimonial .container .content .border .right{
    font-size: 1.2em;
    color: #3475ca;
    font-weight: 700;
    text-align: right;
    cursor: pointer;
    opacity: 0.75;
}
.testimonial .container .content .border .right:hover{
    opacity: 1;
}

/* Contact */