*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.banner{
    position: relative;
    background: #3475ca;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}
.banner .content {
    position: relative;
    max-width: 750px;
    text-align: center;
}
.banner .content h1{
    color: white;
    font-size: 3.75em;
    
}
.banner .content p{
    color: white;
    font-size: 1em;
}
.banner header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.banner header .logo{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 1px;
}
.banner header .toogle{
    
    width: 36px;
    height: 28px;
    background: url(/images/toggle.png);
    background-size: cover;
    cursor: pointer;
    position: relative;
}
/* About Section */

.about{
    display: flex;
    width: 100%;
    
    /* background-color: #0d1920; */
}
.about .content{
    padding: 100px;
    background-color: #162c3b;
    color: white;
    width: 50%;
    height: 100vh;
}
.about .window{
    background: url(./images/window.jpg);
    height: 100vh;
    width: 50%;
    background-size: cover;
    background-position: center;
    
}
.about .content p{
    padding-bottom: 2em;
}
.about .content h1{
    padding-bottom: 1em;
    letter-spacing: 1px;
}

/* Services-section */

.service{
    width: 100%;
    padding: 6.25em;
    background: #12222d;
    
}
.service header{
    color: white;
    text-align: center;
    /* padding: 3.75em; */
}
.service header p{
    /* padding: 1.75em; */
    width: 75%;
    margin: auto;
}
.service header h1{
    padding: 0.5em;
    letter-spacing: 1px;
}
.service .image-content{
    width: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.75em;
}
.service .image-content .service-design img{
    max-width: 6.25em;
}
.service .image-content .service-design{
    background-color: white;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.service .image-content .service-design h2{
    font-size: 1.25em;
    padding-top: 0.5em;
    letter-spacing: 1px;
    font-weight: 500;
}
/* Technology */

.technology{
    padding: 5em;
    display: flex;
    background: #3f8ffc;
    justify-content: space-between;
    align-items: center;
    padding-top: 300px;
    margin-top: -300px;
    width: 100%;
}
.technology .content{
    color: white;
    max-width: 50em;
}
.technology .content h1{
    letter-spacing: 1px;
    padding-bottom: 0.5em;
}
.technology .content p{
    font-weight: 500;
}
.technology .image{
    max-width: 250px;
}
.technology .image img{
     max-width: 100%;
}

/* Client */
.client{
    background: #162c3b;
    padding: 6.25em;
}
.client .header{
    text-align: center;
    color: white;
}
.client .header p{
    padding: 1em 5em;
    font-weight: 500;
}
.client .header h1{
    letter-spacing: 1px;
}
.client .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4em 5em;
    flex-wrap: wrap;
}
.client .container img{
    max-width: 200px;
    opacity: 0.25;
}
.client .container img:hover{
    opacity: 1;
    cursor: pointer;
}

/* #12222d */
/* Testimonials */

.testimonial{
    background: #12222d;
    padding: 6.25em;
    width: 100%;
   
}
.testimonial .heading{
    color: white;
    text-align: center;
    padding-bottom: 2em;
    letter-spacing: 1px;
    font-weight: 700;
}
.testimonial .container{
    display: flex;
    align-items: center;
    
    flex-direction: row;
    justify-content: space-between;
}
.testimonial .container .content{
    padding: 1em;  
}
.testimonial .container .content .border{
    background-color: white;
    padding: 4em;
}
.testimonial .container .content .border .right{
    font-size: 1.2em;
    color: #3475ca;
    font-weight: 700;
    text-align: right;
    cursor: pointer;
    opacity: 0.75;
}
.testimonial .container .content .border .right:hover{
    opacity: 1;
}

/* Contact */
/* #162c3b */
.contact{
    background-color: #162c3b;
    width: 100%;
    
}
.contact .content{
    color: white;
    text-align: center;
}
.contact .content h1{
    letter-spacing: 1px;
    padding-top: 3em;
    padding-bottom: 0.5em;
}
.contact .content p{
    width: 75%;
    margin: auto;
    padding-bottom: 4em;
}
.contact .details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact .details .red-bg{
    background: url(./images/red.jpg);
    width: 50%;
    height: 100vh;
}
.contact .details .ice-cream{
    background: url(./images/bg2.jpg);
    width: 50%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contact .details .red-bg .form{
    padding: 3em 6.25em;
}
.contact .details .red-bg .form .inputbox{
    padding-bottom: 2em;
    
}
.contact .details .red-bg .form input{
    width: 100%;
    outline: none;
    border: none;
    box-shadow: none;
    background: transparent;
    border-bottom: 2px solid white;
    font-size: 20px;
    padding: 10px 0;
    color: white;
    

}
.contact .details .red-bg .form textarea{
    width: 100%;
    outline: none;
    border: none;
    box-shadow: none;
    background: transparent;
    border-bottom: 2px solid white;
    font-size: 20px;
    min-height: 150px;
    color: white;
}
::placeholder{
    color: white;
    opacity: 1;
}
.contact .details .red-bg .form button{
    padding: 0.3em 1.5em;
    font-size: 1.2em;
    font-weight: 300;
    cursor: pointer;
}

/* footer-section */
/* #162c3b */
.footer{
    width: 100%;
    padding: 0.3em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #162c3b;
}
.footer h4{
    color: white;
    text-align: left;
    padding: 0.3em;
    padding-left: 1em;
}
.footer p{
    color: white;
    position: relative;
    padding: 0.3em;
    padding-right: 1em;
}
.footer i{
    cursor: pointer;
}
@media screen and (max-width: 935px){
    .banner{
        padding: 50px;
    }
    .banner .content h1{
        font-size: 2.75em;
    }
    .banner .content p{
        font-size: 0.8em;
        padding: 0.5em 5em;
    }
    .banner header .logo{
        font-size: 1em;
    }
    .banner header .toogle{
        width: 30px;
        height: 23.3px;
    }
    /* About */
    .about{
        flex-direction: column;
    }
    .about .content{
        width: 100%;
        padding: 50px 100px;
    }
    .about .window{
        width: 100%;
        padding: 50px;
        min-height: 400px;
        text-align: center;
    }
    /* Services */
    .service{
        padding: 2.8em;
        
    }
    .service header h1{
        font-size: 1.5em;
    }
    .service header p{
        font-size: 0.8em;
    }
    .service .image-content{
        justify-content: center;
        flex-direction: column;
    }
    .service .image-content .service-design{
        margin-bottom: 2em;
        width: 291.6px;
        height: 333.3px;
    }
    /* Technology */
    .technology{
        flex-direction: column;
        justify-content: center;
    }
    .technology .content h1{
        text-align: center;
        font-size: 1.8em;
    }
    .technology .content p{
        text-align: center;
        padding-bottom: 2em;
    }
    .technology .content{
        width: 100%;
        padding: 1em 3em;
    }
    /* Client */
    .client{
        padding: 3.12em;
    }
    .client .container{
        /* flex-direction: column; */
        justify-content: center;
    }
    .client .container img{
        
        margin: 1em;
        padding-bottom: 4em;
        
    }
    /* Testimonial */
    .testimonial{
        padding: 3.12em;
    }
    .testimonial .container{
        flex-direction: column;
        justify-content: center;

    }
    /* Contact Us */
    .contact .content h1{
        padding-top: 2em;
    }
    .contact .details{
        flex-direction: column;
    }
    .contact .details .red-bg{
        width: 100%;
    }
    .contact .details .ice-cream{
        width: 100%;
    }
    .contact .details .red-bg .form input{
        font-size: 16px;
    }
}


@media screen and (max-width: 535px){
    .banner header .toogle{
        visibility: hidden;
    }
    .about .content p{
        font-size: 0.8em;
    }
    .about .content h1{
        font-size: 1em;
    }
    .about .content{
        height: 80vh;
    }
    .about .window{
        height: 80vh;
    }
    
}
@media screen and (max-width: 1260px){
    .service .image-content .service-design{
        width: 240px;
        height: 275px;
    }
    .client .container img{
        max-width: 160px;
    }
}